<div class="game-list-item">
  <div class="combatants">
    {{#if Attacker}}
      <h4 class="game-list-item-attacker">{{Attacker.username}}</h4>
    {{else}}
      <a class="join-as-attacker" href="/api/games/join/attacker/{{id}}"><button
          class="mini-button"
        >Join Game</button></a>
    {{/if}}
    <h4 class="vs">vs.</h4>
    {{#if Defender}}
      <h4 class="game-list-item-defender">{{Defender.username}}</h4>
    {{else}}
      <a class="join-as-defender" href="/api/games/join/defender/{{id}}"><button
          class="mini-button"
        >Join Game</button></a>
    {{/if}}
  </div>
  <p class="small-text start-date">Started on:
    {{format_date start_date}}
    @
    {{format_time start_date}}</p>
</div>